<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" /> 
        <title>Mypixel admin</title>
        <link rel="stylesheet" href="bootstrap.min.css" />
        <script src="jquery.min.js"></script>
        <script src="admin.js"></script>
        <style>
            .float{
                float:left;
            }
            .separated{
                margin-bottom:20px;
            }
            .marginal{
                margin-left:10px;
                margin-top:10px;
            }
            .font {
                font-size: 20px;
                margin-left: 20px;
            }
            #time{
                width:50px;
            }
        </style>
    </head>
    <body>
        <div class="marginal">
            <div class="separated">
                <input type="text" id="pw" placeholder="Admin pw"/>
                <button class="btn btn-primary" onclick="tryPw()">Try PW</button>
            </div>
            <div class="separated">
                <button class="btn btn-primary" onClick="reset()">Reset</button>
            </div>
            <div class="separated">
                <button class="btn btn-primary" onclick="suggestImage(false)">Stop suggest</button>
                <button class="btn btn-primary" onclick="suggestImage(true)">Suggest this</button>
                <select id="imgselect"></select>
            </div>
            <div class="separated">
                <div class="separated">
                    <button class="btn btn-primary" onclick="stats(true)">Get stats</button>
                    <button class="btn btn-primary" onclick="stats(false)">Stop stats</button>
                </div>
                <div class="font">
                    User count: <span id="usercount">n/a</span>
                </div>
                <div class="font">
                    Users with pixels: <span id="userpixels">n/a</span>
                </div>
                <div class="font">
                    Users in queue: <span id="userqueue">n/a</span>
                </div>
                <div class="font">
                    Empty pixels: <span id="empty">n/a</span>
                </div>
                <div class="font">
                    Next reallocation in: <span id="retime">n/a</span>
                </div>
            </div>
        </div>
    </body>
</html>