<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" /> 
        <title>Mátrix Game</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>
            function changeColor() {
                var r = document.getElementById("red").value;
                var g = document.getElementById("green").value;
                var b = document.getElementById("blue").value;;
                var color = document.getElementById("colorRow");
                color.style.backgroundColor="rgb(" + r + "," + g + "," + b + ")";
            }
            var idleTime = 0;
            $(document).ready(function () {
                //Increment the idle time counter every minute.
                var idleInterval = setInterval(timerIncrement, 60000);
                

                //Zero the idle timer on mouse movement.
                $(this).mousemove(function (e) {
                    idleTime = 0;
                });
                $(this).keypress(function (e) {
                    idleTime = 0;
                });
                
                $.ajax({
                    type: "GET",
                    url: "/pixels/reserve",
                    contentType: "application/json",
                    success: function(response){
                        alert(response);
                        var data = JSON.parse(response);
                        if(data.status === "success") {
                            var pixeldata = pixelFromCoord(data.pixel);
                            document.getElementById("pixelLocation").innerHTML =
                            "A te pixeled a " + pixeldata.szint  + ". szint "
                            + pixeldata.ablak + ". ablakának "
                            + (pixeldata.bal ? "bal" : "jobb") + " "
                            + (pixeldata.felso ? "felső" : "alsó") + " pixele.";
                        } else if (data.status === "queue") {
                            
                        } else {
                            location.reload();
                        }
                }});
            });
            
            function timerIncrement() {
                idleTime = idleTime + 1;
                if (idleTime === 1) {
                    alert("mozogjá!");
                }
            }
            
            function pixelFromCoord(coord) {
                var szint = 18 - Math.floor(coord.y / 2);
                var ablak = Math.floor(coord.x / 2) + 1;
                var bal = (coord.x % 2) === 0;
                var felso = (coord.y % 2) === 0;
                return {"szint": szint, "ablak": ablak, "bal": bal, "felso": felso};
            }
            
        </script>
    </head>
    <body>
        <table border="0" id="colortable">
            <tr>
                <td id="colorRow" colspan="2" height="200" bgColor="#808080"></td>
            </tr>
            <tr>
                <td>piros:</td>
                <td><input type="range" id="red" min = "0" max="255" step="1" onchange="changeColor()"/></td>
            </tr>
            <tr>
                <td>zöld:</td>
                <td><input type="range" id="green" min = "0" max="255" onchange="changeColor()"/></td>
            </tr>
            <tr>
                <td>kék:</td>
                <td><input type="range" id="blue" min = "0" max="255" onchange="changeColor()"/></td>
            </tr>
        </table>
        <div id="pixelLocation"></div>
    </body>
</html> 