<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" /> 
        <title>Mátrix pixelem</title>
        <script src="jquery.min.js"></script>
        <script src="mypixel.js"></script>
        <style>
            @import "mypixel.css";
        </style>
    </head>
    <body>
        <div id="container">
            <div id="chooser">
                <div id="colorshow"></div>
                <div id="sliders">
                    <div class="slider">
                        <div class="colortext">
                            piros:
                        </div>
                        <div class="colorchooser">
                            <input type="range" id="red" min = "0" max="255" step="1" onchange="changeColor()"/>
                        </div>
                    </div>
                    <div class="slider">
                        <div class="colortext">
                            zöld:
                        </div>
                        <div class="colorchooser">
                            <input type="range" id="green" min = "0" max="255" step="1" onchange="changeColor()"/>
                    </div>
                    </div>
                    <div class="slider">
                        <div class="colortext">
                            kék:
                        </div>
                        <div class="colorchooser">
                            <input type="range" id="blue" min = "0" max="255" step="1" onchange="changeColor()"/>
                        </div>
                    </div>
                </div>
            </div>
            <div id="countdown">
                <div id="nopixelmsg">
                    Jelenleg nincs szabad pixel.<br>
                    A pixelek újraosztásáig hátralévő idő:
                </div>
                <div id="countdownLocation"></div>
            </div>
            <div id="pixelLocation"></div>
        </div>
    </body>
</html> 