<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" /> 
        <title>Mátrix pixelem kijelző</title>
        <style>
            html, body, table, #wall { height: 100%; }
            table, #wall, td, tr { width = 100%; }
        </style>
        <script src="jquery.min.js"></script>
        <script>
        
        $(document).ready(function () {
        
            var refreshInterval = setInterval(refresh, 1000);
            
            getPixels("initial");
            
        })
        
        function refresh() {
            getPixels("redraw");
        }
        
        function getPixels(responseType) {
            $.ajax({
                type: "GET",
                url: "/pixels/viewall",
                contentType: "application/json",
                success: function(response){
                    processPixels(response, responseType);
            }});
        }
        
        function processPixels(response, responseType) {
            var data = JSON.parse(response);
            if(responseType === "initial")
            {
                data.sort(function(a,b){return b.x - a.x});
                var xmax = data[0].x;
                data.sort(function(a,b){return b.y - a.y});
                var ymax = data[0].y;
                //!!!!!!SET VERSION HERE!!!!!!!
                var version = 2;
                
                var wall = $('#wall');
                var table = $('<table>');
                table.attr('border', '5');
                table.css('width', '100%');

                for(var i = 0; i <= ymax; i += version) {
                    var tr = $('<tr>');
                    for(var j = 0; j <= xmax; j += version) {
                        var td = $('<td>');
                        var innerTable = $('<table>');
                        //innerTable.setAttribute('border', '1');
                        innerTable.css('width', '100%');
                        td.append(innerTable);
                        
                        for(var k = 0; k < version; k++) {
                            var itr = $('<tr>');
                            for(var l = 0; l < version; l++) {
                                var itd = $('<td>');
                                itd.attr('id', (j + l) + "," + (i + k));
                                itr.append(itd);
                            }
                            innerTable.append(itr);
                        }
                        tr.append(td);
                    }
                    table.append(tr);
                }
                wall.append(table);
            }
            for(var i = 0; i < data.length; i++) {
                var color = data[i].color;
                if(color != null) {
                    var x = data[i].x;
                    var y = data[i].y;
                    var currentPixel = $('#' + x + '\\,' + y);
                    currentPixel.css('background', "rgb(" + color.r + "," + color.g + "," + color.b + ")");
                }
            }
        }
        
        </script>
    </head>
    <body>
    <div id='wall'></div>
    </body>
</html>