#container{
    width:300px;
    display:block;
}
#chooser{
    display:block;
}
#colorshow{
    background-color:#808080;
    min-width:300px;
    min-height:200px;
    margin:0px;
}
#sliders{
    margin:5px 0;
}
.slider{
    overflow:hidden;
    margin:5px 0;
}
.colortext{
    float:left;
    width:20%;
}
.colorchooser{
    float:left;
    width:80%;
}
#countdown{
    display:none;
}
#nopixelmsg{
    text-align:center;
}
#countdownLocation{
    text-align:center;
}
#pixelLocation{
    text-align:center;
}
#suggestedPixel{
   display:none;
   overflow:hidden;
}
#suggestedmsg{
    float:left;
}
#suggestedColor{
    min-height:20px;
    min-width:30px;
    max-height:20px;
    max-width:30px;
    background:#FF00FF;
}
#suggestedPixel{
    overflow:hidden;
}
#suggestedColor{
    float:left;
    margin:0 5px;
}
input[type=range] {
  -webkit-appearance: none;
  width:100%;
  padding:0px;
  margin:0px;
}
.fosbackground{
    background:#C0C0C0;
}